{# templates\admin\site\parameter\list.html.twig #}
{% extends 'admin/layout.html.twig' %}

{% block body_content %}

    {% include "admin/elements/_header.html.twig" with {
            'h_title':'Paramètres du Site',
            'h_path_retour':'admin_list'
        }
    %}

    {% include "admin/elements/_alert.html.twig" %}
    
    {% include "admin/elements/_sub_header.html.twig" with {
            'sh_description': '',
            'sh_lien':'admin_site_parameter_new',
            'sh_btn_txt':'Nouveau Paramètre'
        }
    %}
    
    <div class="row">
        <div class="col-12">
        
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-bold">Clé</th>

                        <th class="text-bold text-justify">Valeur</th>

                        <th class="text-bold text-center w-10">Action</th>
                    <tr>
                </thead>
                <tbody>
                {% for parameter in parameters %}
                    <tr>
                        <td>{{ parameter.name }}</td>

                        <td class="text-justify">{{ parameter.value|nl2br }}</td>

                        <td class="text-center w-10">
                            <a href="{{ path('admin_site_parameter_edit', {id: parameter.id}) }}" class="btn btn-sm btn-primary">
                                <i class="far fa-edit" title="Editer"></i>
                            </a>

                            <form action="{{ path('admin_site_parameter_delete', {id: parameter.id}) }}"
                                method="POST" id="delete_form_{{ parameter.id }}" class="form_delete"
                                onSubmit="return confirm('Êtes-vous sur de vouloir supprimer ce paramètre ?')"
                            />
                                <button type="submit" class="btn btn-sm btn-danger" id="submit_btn_{{ parameter.id }}">
                                    <i class="far fa-trash-alt" title="Supprimer"></i>
                                </button>
                                <input type="hidden" id="method_{{ parameter.id }}" name="_method" value="DELETE" />
                                <input type="hidden" id="token_{{ parameter.id }}" name="_token" value="{{ csrf_token('admin_site_parameter_delete_' ~ parameter.id) }}" />
                            </form>
                            
                        </td>
                    <tr>
                {% else %}
                    <tr><td colspan="3" class="text-center">- Aucun enregistrement -</td></tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    
    {# display navigation #}
    <div class="navigation text-center">
        {{ knp_pagination_render(parameters) }}
    </div>
{% endblock %}
