{# templates\admin\site\faqs\list.html.twig #}
{% extends 'admin/layout.html.twig' %}

{% block body_content %}

    {% include "admin/elements/_header.html.twig" with {
            'h_title':'F.A.Q\'s',
            'h_path_retour':'admin_list'
        }
    %}

    {% include "admin/elements/_alert.html.twig" %}
    
    {% include "admin/elements/_sub_header.html.twig" with {
            'sh_description': '',
            'sh_lien':'admin_site_faq_new',
            'sh_btn_txt':'Nouvelle F.A.Q\'s'
        }
    %}
    
    <div class="row">
        <div class="col-12">
        
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-bold">Question</th>

                        <th class="text-bold text-justify">Réponse</th>

                        <th class="text-bold text-center w-10">Action</th>
                    <tr>
                </thead>
                <tbody>
                {% for faq in faqs %}
                    <tr>
                        <td>{{ faq.question }} ?</td>

                        <td class="text-justify">{{ faq.reponse|nl2br }}</td>

                        <td class="text-center w-10">
                            <a href="{{ path('admin_site_faq_edit', {id: faq.id}) }}" class="btn btn-sm btn-primary">
                                <i class="far fa-edit" title="Editer"></i>
                            </a>

                            <form action="{{ path('admin_site_faq_delete', {id: faq.id}) }}"
                                method="POST" id="delete_form_{{ faq.id }}" class="form_delete"
                                onSubmit="return confirm('Êtes-vous sur de vouloir supprimer cette faq\'s ?')"
                            />
                                <button type="submit" class="btn btn-sm btn-danger" id="submit_btn_{{ faq.id }}">
                                    <i class="far fa-trash-alt" title="Supprimer"></i>
                                </button>
                                <input type="hidden" id="method_{{ faq.id }}" name="_method" value="DELETE" />
                                <input type="hidden" id="token_{{ faq.id }}" name="_token" value="{{ csrf_token('admin_site_faq_delete_' ~ faq.id) }}" />
                            </form>
                            
                        </td>
                    <tr>
                {% else %}
                    <tr><td class="text-center">- Aucun enregistrement -</td></tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    {# display navigation #}
    <div class="navigation text-center">
        {{ knp_pagination_render(faqs) }}
    </div>
{% endblock %}
