{# templates\admin\character\medal\_list.html.twig #}
{% trans_default_domain 'forms' %}
<div class="row">
    <div class="col-12">
    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-bold">Nom (Abréviation)</th>

                    <th class="text-bold">Valeur (Coef. XP)</th>
                    
                    <th class="text-bold">Type</th>

                    <th class="text-bold">Catégorie</th>

                    <th class="text-bold text-center">Action</th>
                <tr>
            </thead>
            <tbody>
            {% for medal in medals %}
                <tr>
                    <td>{{ medal.name }} ({{ medal.abbreviation }})</td>

                    <td>{{ medal.value }} ({{ medal.coeficientXp }})</td>
                    
                    <td>
                        {% for key, type in constant('TYPE', medal) %}
                            {% if medal.type == key %}
                                {{ type|trans }}
                            {% endif %}
                        {% endfor %}
                    </td>

                    <td>
                        {% for key, category in constant('CATEGORY', medal) %}
                            {% if medal.category == key %}
                                {{ category|trans }}
                            {% endif %}
                        {% endfor %}
                    </td>

                    <td class="text-center">

                        {% include "admin/character/medal/_action.html.twig" %}

                    </td>
                <tr>
            {% else %}
                <tr><td colspan="4" class="text-center">- Aucun enregistrement -</td></tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% for medal in medals %}
    
    {% include "admin/character/medal/_modal.html.twig"  with {'title': 'medal' ~ medal.id } %}

{% endfor %}