{# templates\admin\character\medal\_modal.html.twig #}
<!-- Modal {{ title }} -->
<div class="modal fade" id="{{ title }}" tabindex="-1" role="dialog" aria-labelledby="{{ title }}Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ title }}Label">{{ medal.name }} [{{ medal.abbreviation }}]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row mb-4">

                    <div class="col-12 small text-justify">
                    [ {% if medal.type == 1 %}
                        Personnel
                    {% elseif medal.type == 2 %}
                        Unité
                    {% elseif medal.type == 3 %}
                        Mixte
                    {% else %}
                        Non précisée
                    {% endif %} ]<br />
                    {{ medal.description|nl2br }}
                    </div>

                </div>

            </div>

            <div class="modal-header">
                <small></small>
            </div>

        </div>
    </div>
</div>