{# templates\admin\game\geo\place\_action.html.twig #}
<a href="{{ path('admin_game_geo_place_edit', {id: place.id}) }}" class="btn btn-sm btn-primary">
    <i class="far fa-edit" title="Editer"></i>
</a>

<form action="{{ path('admin_game_geo_place_delete', {id: place.id}) }}" 
    method="POST" id="delete_form_{{ place.id }}" class="form_delete"
    onSubmit="return confirm('Êtes-vous sur de vouloir supprimer ce lieu ?')"
/>
    <button type="submit" class="btn btn-sm btn-danger" id="submit_btn_{{ place.id }}">
        <i class="far fa-trash-alt" title="Supprimer"></i>
    </button>
    <input type="hidden" id="method_{{ place.id }}" name="_method" value="DELETE" />
    <input type="hidden" id="token_{{ place.id }}" name="_token" value="{{ csrf_token('admin_game_geo_place_delete_' ~ place.id) }}" />
</form>