<a href="{{ path('admin_character_role_edit', {id: role.id}) }}" class="btn btn-sm btn-primary">
    <i class="far fa-edit" title="Editer"></i>
</a>
<button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#role{{ role.id }}">
    <i class="far fa-eye" title="Visualiser"></i>
</button>

<form action="{{ path('admin_character_role_delete', {id: role.id}) }}" 
    method="POST" id="delete_form_{{ role.id }}" class="form_delete"
    onSubmit="return confirm('Êtes-vous sur de vouloir supprimer cette compétence ?')"
/>
    <button type="submit" class="btn btn-sm btn-danger" id="submit_btn_{{ role.id }}">
        <i class="far fa-trash-alt" title="Supprimer"></i>
    </button>
    <input type="hidden" id="method_{{ role.id }}" name="_method" value="DELETE" />
    <input type="hidden" id="token_{{ role.id }}" name="_token" value="{{ csrf_token('admin_character_role_delete_' ~ role.id) }}" />
</form>