{{ form_start(form) }}
<div class="row">
        
    <div class="col-8">

        <div class="row">
            <div class="col-6">
                {{ form_row(form.prenom) }}
            </div>
            
            <div class="col-6">
                {{ form_row(form.nom) }}
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                {{ form_row(form.username) }}
            </div>
            
            <div class="col-6">
                {{ form_row(form.email) }}
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                {{ form_row(form.sexe) }}
            </div>
            
            <div class="col-6">
                {{ form_row(form.dateNaissance) }}
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                {{ form_row(form.biographie) }}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary">{{ button }}</button>
            </div>
        </div>

    </div>

    <div class="col-4">

        <div class="row">
            <div class="col-12">

                {{ form_row(form.pictureFile) }}

                {% if not user.picture or user.picture == '' %}
                    <img src="{{ asset('images/users/default-user.png') }}" alt="image par defaut - Utilisateur" class="picture_user" />
                {% else %}
                    {% set iden = user.prenom ~ ' ' ~ user.nom %}
                    <a href="" class="delete_picture_user" />
                        <span class="titre">{{ iden }}</span>
                        <span class="description">Cliquer pour supprimer cette image.</span>
                        <span class="bg"></span>
                        <img src="{{ vich_uploader_asset(user) }}" alt="{{ iden }}" class="picture_user" />
                    </a>
                {% endif %}
            </div>
        </div>

    </div>

</div>

{{ form_end(form) }}

{% block javascripts %}

{% endblock %}
