{# templates\admin\game\geo\luminaryType\_action.html.twig #}
<a href="{{ path('admin_game_geo_luminaryType_edit', {id: luminaryType.id}) }}" class="btn btn-sm btn-primary">
    <i class="far fa-edit" title="Editer"></i>
</a>

<form action="{{ path('admin_game_geo_luminaryType_delete', {id: luminaryType.id}) }}" 
    method="POST" id="delete_form_{{ luminaryType.id }}" class="form_delete"
    onSubmit="return confirm('Êtes-vous sur de vouloir supprimer cette luminaryType ?')"
/>
    <button type="submit" class="btn btn-sm btn-danger" id="submit_btn_{{ luminaryType.id }}">
        <i class="far fa-trash-alt" title="Supprimer"></i>
    </button>
    <input type="hidden" id="method_{{ luminaryType.id }}" name="_method" value="DELETE" />
    <input type="hidden" id="token_{{ luminaryType.id }}" name="_token" value="{{ csrf_token('admin_game_geo_luminaryType_delete_' ~ luminaryType.id) }}" />
</form>