{# templates\admin\game\geo\luminary\_action.html.twig #}
<a href="{{ path('admin_game_geo_luminary_edit', {id: luminary.id}) }}" class="btn btn-sm btn-primary">
    <i class="far fa-edit" title="Editer"></i>
</a>

<form action="{{ path('admin_game_geo_luminary_delete', {id: luminary.id}) }}" 
    method="POST" id="delete_form_{{ luminary.id }}" class="form_delete"
    onSubmit="return confirm('Êtes-vous sur de vouloir supprimer cette luminary ?')"
/>
    <button type="submit" class="btn btn-sm btn-danger" id="submit_btn_{{ luminary.id }}">
        <i class="far fa-trash-alt" title="Supprimer"></i>
    </button>
    <input type="hidden" id="method_{{ luminary.id }}" name="_method" value="DELETE" />
    <input type="hidden" id="token_{{ luminary.id }}" name="_token" value="{{ csrf_token('admin_game_geo_luminary_delete_' ~ luminary.id) }}" />
</form>