{# templates\admin\index.html.twig #}
{% extends 'admin/layout.html.twig' %}

{% block body_content %}

    <div class="row">
        <div class="col-8">
            <h1>Tableau de Bord</h1>
        </div>
        <div class="col-4 text-right align-self-center">
            <a href="{{ path('accueil') }}">Retour au site</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ul>
                <li>Site - Historique</li>
                <li><a href="{{ path('site_params_list') }}">Site - Paramètres</a></li>
                <li><a href="{{ path('site_faqs_list') }}">Site - F.A.Q's</a></li>

                <li><a href="{{ path('users_list') }}">Joueur - Joueurs</a></li>
                <li>Joueur - Groupes</li>
                
                <li>Personnages</li>
                <li><a href="{{ path('perso_caracs_list') }}">Personnage - Caractéristiques</a></li>
                <li><a href="{{ path('perso_comps_list') }}">Personnage - Compétences</a></li>
                <li>Personnage - Professions</li>
                <li>Personnage - Spécialités</li>
                <li>Personnage - Promotions</li>
                <li>Personnage - Sanctions</li>
                
                <li>Géographie - Astres - Lieux</li>
                <li>Géographie - Astres - Types</li>
                <li>Géographie - Cités - Lieux</li>
                <li>Géographie - Cités - Types</li>

                <li>Jeu - Affectations</li>
                <li>Jeu - Accréditations</li>
                <li>Jeu - Equipements</li>
                <li>Jeu - FanFics</li>
                <li>Jeu - Hiérarchie - Fonctions</li>
                <li>Jeu - Hiérarchie - Grades</li>
                <li>Jeu - Récompences - Médailles</li>
                <li>Jeu - Métiers</li>
                <li>Jeu - Missions</li>
                <li>Jeu - Missions - Campagnes</li>
                <li>Jeu - Missions - Objectifs</li>
                <li>Jeu - Missions - Scénario</li>
                <li>Jeu - Règles</li>
                <li>Jeu - Sanctions</li>
                <li>Jeu - Troopédia - Chronologie Archives Fédérales</li>
                <li>Jeu - Troopédia - Chronologie selon le Pr. G. H. Jurgen</li>
                <li>Jeu - Troopédia - Chronologie selon le Dr. A. Rimenez</li>
                <li>Jeu - Troopédia - Chronologie - Tags évènements</li>
                <li>Jeu - Troopédia - Entreprises</li>
                <li>Jeu - Troopédia - Entreprises - Marques</li>
                <li>Jeu - Troopédia - Extraits de discours célèbres</li>
                <li>Jeu - Troopédia - Extraits de Loi</li>
                <li>Jeu - Troopédia - Lexique</li>
                

            </ul>
        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <h3>Maintenance</h3>
            <ul>
                <li>Nettoyage BDD - Joueurs</li>
                <li>Nettoyage Répertoire - Images</li>
            </ul>
        </div>
        
    </div>
{% endblock %}
