{# templates\admin\index.html.twig #}
{% extends 'admin/layout.html.twig' %}

{% block body_content %}

    <div class="row">
        <div class="col-8">
            <h1>Tableau de Bord</h1>
        </div>
        <div class="col-4 text-right align-self-center">
            <a href="{{ path('home_welcome') }}">Retour au site</a>
        </div>
    </div>

    <div class="card-deck mt-4">
        <div class="col-3">
            <div class="card mb-4">
                <img class="card-img-top" 
                    src="{{ asset('images/admin/default.png') }}" 
                    alt="Actions"
                />
                <div class="card-body">
                    <h5 class="card-title text-bold text-center">Actions standards</h5>
                </div>
                <div class="card-footer text-center">
                    
                    <a href="{{ path('admin_list') }}">Ouvrir</a>

                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card mb-4">
                <img class="card-img-top" 
                    src="{{ asset('images/admin/default.png') }}" 
                    alt="Actions"
                />
                <div class="card-body">
                    <h5 class="card-title text-bold text-center">Manus Dei</h5>
                </div>
                <div class="card-footer text-center">
                    
                    <a href="{{ path('admin_list') }}">Ouvrir</a>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
