{# templates\admin\perso\comps\_liste.html.twig #}
<div class="row">
    <div class="col-12">
    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-bold">Npm</th>

                    <th class="text-bold">Abréviation</th>
                    
                    <th class="text-bold">Type</th>

                    <th class="text-bold text-center">Action</th>
                <tr>
            </thead>
            <tbody>
            {% for comp in comps %}
                <tr>
                    <td>{{ comp.nom }}</td>

                    <td>{{ comp.abreviation }}</td>
                    
                    <td>{% if comp.type == 1 %}
                            Connaissance
                        {% elseif comp.type == 2 %}
                            Pratique
                        {% else %}
                            Non précisée
                        {% endif %}
                    </td>

                    <td class="text-center">
                        <a href="{{ path('perso_comps_edit', {id: comp.id}) }}" class="btn btn-sm btn-primary">
                            <i class="far fa-edit" title="Editer"></i>
                        </a>
                        <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#comp{{ comp.id }}">
                            <i class="far fa-eye" title="Visualiser"></i>
                        </button>
                        
                        <form action="{{ path('perso_comps_delete', {id: comp.id}) }}" 
                            method="POST" id="delete_form_{{ comp.id }}" class="form_delete"
                            onSubmit="return confirm('Êtes-vous sur de vouloir supprimer cette compétence ?')"
                        />
                    
                        <button type="submit" class="btn btn-sm btn-danger" id="submit_btn_{{ comp.id }}">
                            <i class="far fa-trash-alt" title="Supprimer"></i>
                        </button>
                        <input type="hidden" id="method_{{ comp.id }}" name="_method" value="DELETE" />
                        <input type="hidden" id="token_{{ comp.id }}" name="_token" value="{{ csrf_token('perso_comps_delete_' ~ comp.id) }}" />
                    </form>
                    </td>
                <tr>
            {% else %}
                <tr><td colspan="4" class="text-center">- Aucun enregistrement -</td></tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% for comp in comps %}
    
    {% include "admin/perso/comps/_modal.html.twig"  with {'title': 'comp' ~ comp.id } %}

{% endfor %}