{# templates\admin\perso\comps\_modal.html.twig #}
<!-- Modal {{ title }} -->
<div class="modal fade" id="{{ title }}" tabindex="-1" role="dialog" aria-labelledby="{{ title }}Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ title }}Label">{{ comp.nom }} [{{ comp.abreviation }}]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row mb-4">

                    <div class="col-12 small text-justify">
                    [ {% if comp.type == 1 %}
                        Connaissance
                    {% elseif comp.type == 2 %}
                        Pratique
                    {% else %}
                        Non précisée
                    {% endif %} ]<br />
                    {{ comp.description|nl2br }}
                    </div>

                </div>

            </div>

            <div class="modal-header">
                <small>Calcul : {{ comp.getCalcul() }}</small>
            </div>

        </div>
    </div>
</div>