{# templates\admin\perso\caracs\_form.html.twig #}
{{ form_start(form) }}
    <div class="row">
            
        <div class="col-6">
            {{ form_row(form.nom) }}
        </div>
        <div class="col-3">
            {{ form_row(form.abreviation) }}
        </div>
        <div class="col-3">
            {{ form_row(form.type) }}
        </div>

    </div>

    <div class="row">
            
        <div class="col-12">
            {{ form_row(form.description) }}
        </div>

    </div>

    <div class="row">
            
        <div class="col-4">
            {{ form_row(form.valeurMin) }}
        </div>
        <div class="col-4">
            {{ form_row(form.valeurMoyenne) }}
        </div>
        <div class="col-4">
            {{ form_row(form.valeurMax) }}
        </div>

    </div>

    <div class="row">
            
        <div class="col-12">
            {{ form_row(form.picture) }}
        </div>

    </div>

    <div class="row">

        <div class="col-12">
            
            {% if not carac.picture or carac.picture == '' %}
                <img src="{{ asset('images/perso/caracs/default-caracs.jpg') }}" alt="image par defaut - Caractéristique" />
            {% else %}
                {% set alt = carac.nom ~ ' [' ~ carac.abreviation ~ ']' %}
                <a href="" />
                    <img src="{{ vich_uploader_asset(carac) }}" alt="{{ alt }}" title="{{ alt }}" />
                </a>
            {% endif %}

        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary">{{ button }}</button>
        </div>
    </div>
{{ form_end(form) }}