{# templates\admin\perso\caracs\_liste.html.twig #}
<div class="row">
    <div class="col-12">
    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-bold">Npm</th>

                    <th class="text-bold">Abréviation</th>
                    
                    <th class="text-bold">Type</th>

                    <th class="text-bold text-center">Action</th>
                <tr>
            </thead>
            <tbody>
            {% for carac in caracs %}
                <tr>
                    <td>{{ carac.nom }}</td>

                    <td>{{ carac.abreviation }}</td>
                    
                    <td>{% if carac.type == 1 %}
                            Physique
                        {% elseif carac.type == 2 %}
                            Mentale
                        {% else %}
                            Non précisée
                        {% endif %}
                    </td>

                    <td class="text-center">
                        <a href="{{ path('perso_caracs_edit', {id: carac.id}) }}" class="btn btn-sm btn-primary">
                        <i class="far fa-edit" title="Editer"></i>
                    </a>
                    <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#carac{{ carac.id }}">
                        <i class="far fa-eye" title="Visualiser"></i>
                    </button>
                    
                    <form action="{{ path('perso_caracs_delete', {id: carac.id}) }}" 
                        method="POST" id="delete_form_{{ carac.id }}" class="form_delete"
                        onSubmit="return confirm('Êtes-vous sur de vouloir supprimer cette caractéristique ?')"
                    />
                    
                        <button type="submit" class="btn btn-sm btn-danger" id="submit_btn_{{ carac.id }}">
                            <i class="far fa-trash-alt" title="Supprimer"></i>
                        </button>
                        <input type="hidden" id="method_{{ carac.id }}" name="_method" value="DELETE" />
                        <input type="hidden" id="token_{{ carac.id }}" name="_token" value="{{ csrf_token('perso_caracs_delete_' ~ carac.id) }}" />
                    </form>
                    </td>
                <tr>
            {% else %}
                <tr><td colspan="4" class="text-center">- Aucun enregistrement -</td></tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% for carac in caracs %}
    
    {% include "admin/perso/caracs/_modal.html.twig"  with {'title': 'carac' ~ carac.id } %}

{% endfor %}