{# templates\admin\perso\caracs\list.html.twig #}
{% extends 'admin/layout.html.twig' %}

{% block body_content %}

    <div class="row">
        <div class="col-8">
            <h1>Personnage : Caractéristiques</h1>
        </div>
        <div class="col-4 text-right align-self-center">
            <a href="{{ path('admin_index') }}">Retour</a>
        </div>
    </div>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="row">
        <div class="col-12 text-left mb-4 mt4 ">
            Les caractérisques d'un personnage, dans Troopers, la Légion Fédérale (TLF), sont une constituante de base d'un personnage. <br />
            Elles constituent le "matériaux brut", la base de tout personnage : son corps, ce qu'il en a fait, se qui le rend unique. <br />
            C'est en quelque sorte sa prédisposition génétique et l'amélioration dûe à l'acquis, l'entrainement.<br />
            Les caractéristiques sont donc, une représentation chiffrée de ce qui fait l'essence du personnage. 
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-right mb-4 mt4 ">
            <a href="{{ path('perso_caracs_new') }}">
                <button class="btn btn-info">Nouvelle Caractéristique</button>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-bold">Nom</th>
                        <th class="text-bold">Abréviation</th>
                        <th class="text-bold">Action</th>
                    <tr>
                </thead>
                <tbody>
                {% for carac in caracs %}
                    <tr>
                        <td>{{ carac.nom }}</td>
                        <td>{{ carac.abreviation }}</td>
                        <td class="text-center">
                            <a href="{{ path('perso_caracs_edit', {id: carac.id}) }}" class="btn btn-sm btn-primary">
                                <i class="far fa-edit" title="Editer"></i>
                            </a>
                        </td>
                    <tr>
                {% else %}
                    <tr>
                    <td colspan="4" class="text-center">- Aucun enregistrement -</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>        

{% endblock %}