{# templates\base.html.twig #}
<!DOCTYPE html>
<html lang="fr" xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        {% block meta %}
            <meta name="description" content="{{ siteParams('meta_description') }}">
            <meta name="keywords" content="{{ siteParams('meta_keywords') }}">
            <meta name="author" content="{{ siteParams('auteur_nom') }}">
        {% endblock %}
        <title>
        {% block title %}
            {{ siteParams('site_title') }} - V{{ siteParams('site_version')|number_format(0) }} {{ siteParams('site_release') }}
        {% endblock %}
        </title>
        <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
            crossorigin="anonymous" />
        <!-- App CSS -->
        <link rel="stylesheet" href="{{ asset('css/global.css') }}" />
        {% block stylesheets %}{% endblock %}
        <!-- Font Awesome script -->
        <script src="https://kit.fontawesome.com/378aa4ac8a.js" crossorigin="anonymous"></script>
    </head>
    <body>
    
        {% block nav %}{% endblock %}

        {% block body %}{% endblock %}
        
        {% block footer %}
            <footer class="mb-4 mt-4">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-small text-center">
                            &copy; {{ siteParams('site_title') }} - 2003 - {{ 'now'|date('Y') }}
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
            crossorigin="anonymous"></script>

        {% block javascripts %}{% endblock %}

    </body>
</html>
