{# templates\admin\character\character\feature\edit.html.twig #}

{{ form_start(form) }}
<tr>
    <td>
        {{ characterFeature.feature.name }} [{{ characterFeature.feature.abbreviation }}]
    </td>
    <td class="text-bold text-center">
        {% set score = characterFeature.feature.valueAverage + characterFeature.value + characterFeature.experienceUpgrade %}
        {{ score }}
    </td>
    <td>
        {{ form_row(form.value) }}
    </td>
    <td>
        {{ form_row(form.experienceUpgrade) }}
    </td>
    <td>
        <button class="btn btn-primary">Enregistrer</button>
    </td>
</tr>
{{ form_end(form) }}