{# templates\admin\character\speciality\_list.html.twig #}
{% trans_default_domain 'forms' %}
<div class="row">
    <div class="col-12">
    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-bold w-25">Nom</th>
                    
                    <th class="text-bold">Type</th>
                    
                    <th class="text-bold text-center">Par defaut</th>
                    
                    <th class="text-bold text-center">Jouable</th>
                    
                    <th class="text-bold text-center">Obsolète</th>

                    <th class="text-bold text-center w-10">Action</th>
                <tr>
            </thead>
            <tbody>
            {% for speciality in specialities %}
                <tr>
                    <td class="w-25">{{ speciality.profession.name ~ ' - ' ~ speciality.name }}</td>
                    
                    <td>
                        {% for key, type in constant('TYPE', speciality) %}
                            {% if speciality.type == key %}
                                {{ type|trans }}
                            {% endif %}
                        {% endfor %}
                    </td>

                    <td class="text-center">
                        <a href="{{ path('admin_character_speciality_default', {id: speciality.id}) }}">
                            {% if speciality.default %}
                            <i class="far fa-check-square text-success" title="Oui"></i>
                            {% else %}
                            <i class="far fa-square text-info" title="Non"></i>
                            {% endif %}
                        </a>
                    </td>

                    <td class="text-center">
                        <a href="{{ path('admin_character_speciality_playable', {id: speciality.id}) }}">
                            {% if speciality.playable %}
                            <i class="far fa-check-square text-success" title="Oui"></i>
                            {% else %}
                            <i class="far fa-square text-warning" title="Non"></i>
                            {% endif %}
                        </a>
                    </td>

                    <td class="text-center">
                        <a href="{{ path('admin_character_speciality_obsolete', {id: speciality.id}) }}">
                            {% if speciality.obsolete %}
                            <i class="far fa-check-square text-danger" title="Oui"></i>
                            {% else %}
                            <i class="far fa-square text-success" title="Non"></i>
                            {% endif %}
                        </a>
                    </td>

                    <td class="text-center w-10">

                        {% include "admin/character/speciality/_action.html.twig" %}

                    </td>
                <tr>
            {% else %}
                <tr><td colspan="7" class="text-center">- Aucun enregistrement -</td></tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>